@import 'tailwindcss';

/* Source paths for Tailwind to scan for classes */
@source '../views/**/*.blade.php';
@source '../**/*.js';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

.badge-search {
  @apply bg-gray-100 text-[10px] text-stone-700 font-extralight px-3 py-1 rounded-full;
}

.btn-primary {
  @apply w-fit flex items-center gap-2 bg-yellow-300 shadow-none hover:shadow-lg font-semibold px-5 py-2 rounded-full;
}
.btn-secondary {
  @apply w-fit flex items-center gap-2 bg-transparent hover:bg-gray-100 border font-semibold px-5 py-2 rounded-full;
}

.card-list-search {
  @apply w-full h-[162px] bg-white rounded-2xl p-2 flex items-start gap-3;
}

.accent-nav {
  @apply text-[12px];
}

.bg-hero-accent {
  background: linear-gradient(284deg,rgba(0, 0, 0, 0.02) 10%, rgba(49, 49, 49, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
}

a#card-berita:hover div hr {
  border-color: black;
}

.menu-dropdown {
  @apply px-[24px] py-[16px] gap-[16px] rounded-lg text-slate-800 bg-white hover:bg-gray-100 fill-slate-700 font-semibold text-sm;
}

.text-label {
  @apply text-[16px] font-semibold;
}
.caption {
  @apply text-[12px] font-semibold text-slate-800;
}
.subtitle {
  @apply text-[18px] font-semibold text-slate-800;
}

.timeline-line {
  position: absolute;
  left: 258px;
  top: 70px;
  height: 1270px;
  width: 4px;
  background-color: #FEE50E;
  z-index: 1;
}

.timeline-dot {
  position: relative;
  z-index: 2;
}

.label-video {
  @apply px-2 py-1 rounded-md absolute top-2 left-3 bg-slate-800 text-yellow-300 text-xs font-medium;
}
.label-photo {
  @apply px-2 py-1 rounded-md absolute top-2 left-3 bg-yellow-300 text-slate-800 text-xs font-semibold;
}
.label-news {
  @apply px-2 py-1 rounded-tr-md absolute bottom-0 left-0 bg-slate-800 text-yellow-300 text-xs font-semibold;
}
.label-magazine {
  @apply px-2 py-1 rounded-md bg-slate-800 text-yellow-300 text-xs font-semibold;
}

.block-announcement {
  @apply flex flex-col md:flex-row items-start md:items-center justify-between p-2 rounded-lg hover:bg-gray-200;
}
.label-announcement {
  @apply w-fit px-2 py-1 rounded-md bg-slate-800 text-yellow-300 text-xs font-medium;
}

/* section {
  @apply min-h-screen
} */

form#kt_sign_in_form input {
  @apply invalid:border-orange-500 invalid:text-orange-600 focus:border-yellow-300 focus:outline focus:outline-yellow-300 focus:invalid:border-orange-500 focus:invalid:outline-orange-500 disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500 disabled:shadow-none dark:disabled:border-gray-700 dark:disabled:bg-gray-800/20;
}

a#card-video:hover div hr {
  border-color: black;
}

a#card-video:hover img {
  @apply scale-110 transition
}

a#card-photo:hover div hr {
  border-color: black;
}

a#card-photo:hover img {
  @apply scale-110 transition;
}

.card-layanan-sync {
  @apply flex flex-col gap-2 w-[240px] h-[290px] p-2 bg-gray-200 rounded-2xl bg-cover bg-center;
}

.card-layanan-sync:hover div#block {
  @apply bg-yellow-300;
}

.card-magazine {
  @apply w-[320px] h-[400px] relative bg-gray-600 rounded-2xl overflow-auto shrink-0;
}

.card-magazine:hover img {
  @apply scale-105 transition;
}

.text-stroke {
  -webkit-text-stroke: 2px white;
}