:root {
  --yellow-primary : #FEE50E;
  --purple-secondary : #3B238C;
  --dark : #484848;
  --light : #F8F8F8;
}

.bg-img-detail {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/media/illustrations/pattern.png);
}
.bg-img-detail2 {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/media/illustrations/pattern2.png);
}

.accent-nav:before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #FEE50E;
  border-radius: 0px 0px 8px 8px;
}
.accent-nav:after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #FEE50E;
  border-radius: 8px 8px 0px 0px;
}
